@use './color.scss' as *;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

header{
    background-color: $white;
    a {
        color: $blue-nav;
        text-decoration: none;
    }
    ul{
        display: flex;
        list-style: none;
    }
}
main{
    background-color: $bg-main;
}

// .myContainer{
//     display: flex;
//     justify-content: space-between;
//     color: $white;
// }

.navabarMain{
    background-color: $blue-nav;
    color:$white

}