@use './color.scss' as *;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

header{
    background-color: $white;
    a {
        color: $blue-nav;
        text-decoration: none;
    }
    ul{
        
        list-style: none;
    }
}
main{
    background-color: $bg-main;
}